

:root {
  --white: #FFFFFF;
  --black: #000000;
  --background-1: #EAE7DC;
  --background-2: #D8C3A5;
  --text-color: #8E8D8A;
  --primary-1: #E85A4F;
  --primary-2: #E98074;
}


body {
  color: var(--text-color);
  font-size: 1.5vw;
  font-family: "Ubuntu", sans-serif;
  background-color: var(--background-1);
}

h2 {
  color: var(--primary-1);
}

.pageTitle {
  margin-top: 0;
  color: var(--primary-1);
  font-size: 5vw;
  text-align: center;
/*  border-top: 20vh solid transparent;*/
}

.pageTitleSpacer {
  height: 25vh;
}

.pageSubtitle {
  text-align: center;
}

.contactButton {
  display: inline-block;
  color: var(--primary-2);
  width: 5vw;
  height: 5vw;
  margin-left: 1vw;
  margin-right: 1vw;
  text-decoration: none;
  border: 3px solid var(--primary-2);
  border-radius: 50%;
  overflow: hidden;
}

.contactButton:hover {
  opacity: 0.7;
}

.emailImg {
  display: inline-block;
  color: var(--primary-2);
  font-size: 3vw;
  margin-top: 0.6vw;
  cursor: pointer;
  transition: 0.6s;
}

.linkedInImg {
  display: inline-block;
  color: var(--primary-2);
  font-size: 3vw;
  margin-top: 0.8vw;
  cursor: pointer;
  transition: 0.6s;
}

.githubImg {
  display: inline-block;
  color: var(--primary-2);
  font-size: 3vw;
  margin-top: 0.7vw;
  cursor: pointer;
  transition: 0.6s;
}

.center {
  text-align: center;
}


/* for each of the sections listed on the main page */
.header {
  text-align: center;
  color: var(--primary-1);
/*  background-color: var(--background-2);*/
  padding-top: 3vw;
  padding-bottom: 0vw;
  font-size: 4vw;
}

.headerLine {
  margin-bottom: 3vw;
}



/* technical skills section */
.skillsSection {
  background-color: var(--white);
  border-radius: 3vw;
  width: 85vw;
  height: 25vw;
  margin-left: auto;
  margin-right: auto;
  padding: 2.5vw;
}

.skillsHeader {
  display: inline-block;
  font-size: 2vw;
  color: var(--black);
  width: 33%;
  margin-right: 5%;
  margin-left: 2%;
  vertical-align: top;
}

.skillsBody {
  display: inline-block;
  font-size: 1.5vw;
  color: var(--text-color);
  width: 58%;
}

.skill {
  display: inline-block;
  color: var(--white);
  background-color: var(--primary-1);
  font-size: 1.2vw;
  padding: 0.75vw 1vw;
  border-radius: 1vw;
  margin-right: 0.75vw;
  margin-bottom: 1vw;
}



/* for the project cards section */
.projects {
  text-align: center;
  background-color: var(--background-2);
  margin-left: -5vw;
  margin-right: -5vw;
}

a.projectCard {
  display: inline-block;
  background-color: var(--background-1);
  width: 25vw;
  height: 30vw;
  border-radius: 1.5vw;
  margin: 1.5vw;
  overflow: hidden;
  text-decoration: none;
  box-shadow: 5px 5px 5px 2px var(--text-color);
}

a.projectCard:hover {
  opacity: 0.7;
}

.projectImg {
  display: inline-block;
  width: 20vw;
  height: 20vw;
/*  border-radius: 4vw;*/
  margin: 2.5vw;
}

.projectText {
  margin-top: 0;
  color: var(--text-color);
  font-size: 2vw;
}

.fillerProjectCard {
  display: inline-block;
  width: 25vw;
  height: 30vw;
  margin: 1.5vw;
  overflow: hidden;
}






